<!-- List of components -->
<span>Select component: </span>
<select (change)="updateTestCases($event.target.value)">
  <option>select</option>
  <option *ngFor="let component of testableComponents">
    {{component.name}}
  </option>
</select>

<!-- List of test cases -->
<span>Select test case: </span>
<select (change)="updateTestComponent($event.target.value)">
  <option>select</option>
</select>

<!-- Placeholder for whatever component you're testing -->
<ng-template #testComponent>
</ng-template>

<!-- Placeholder for performance stats -->
<ng-template #performanceStats>
</ng-template>
